<div class="panel">
    <header class="panel-heading bg-light">
        <ul class="nav nav-tabs pull-right">
            <li ng-class="{active:activeTab == 'list'}">
                <a ng-click="switchTab('list')"><i class="fa fa-list text-default"></i>&nbsp;List</a>
            </li>
            <li ng-class="{active:activeTab == 'picture'}">
                <a ng-click="switchTab('picture')"><i class="fa fa-picture-o text-default"></i>&nbsp;Picture</a>
            </li>
            <li ng-class="{active:activeTab == 'measure'}">
                <a ng-click="switchTab('measure')"><i class="fa fa-stethoscope text-default"></i>&nbsp;Measure</a>
            </li>
        </ul>
        <span class="hidden-sm">List</span>
    </header>
    <div class="panel-body">
        <div ng-show="activeTab == 'list'">
            <ul class="list-group list-group-sp" ui-sortable ng-model="entry.gigs">
                <div ng-repeat="gig in entry.gigs">
                    <gig ng-model="gig" enter-key-pressed="enterKeyPressed($index)" remove="removeGig($index)" index="{{$index}}"></gig>
                </div>
            </ul>
        </div>
        <div ng-show="activeTab == 'picture'">
            <h1>Picture</h1>
        </div>
        <div ng-show="activeTab == 'measure'">
            <h1>Measure</h1>
        </div>
    </div>
</div>

<ul ng-repeat="gig in entry.gigs">
    <li>{{gig.title}}</li>
</ul>