<!-- .vbox -->
<section id="content">
    <section class="vbox">
        <header class="header bg-white b-b">
            <p>Welcome to Simufit</p>
        </header>
        <section class="wrapper">
            <div class="row">
                <div class="col-md-6">
                    <div calendar></div>
                </div>
                <div class="col-md-6">
                    <section class="scrollable wrapper">
                        <!-- task list -->
                        <ul id="task-list" class="list-group list-group-sp">
                            <li ng-repeat="gig in gigs">
                                <!-- templates -->
                                <div class="view" id="task-<%- id %>">
                                    <button class="destroy close hover-action" ng-click="remove($index)">&times;</button>
                                    <div class="checkbox">
                                        <input class="toggle" type="checkbox" ng-model="gig.isDone" />
                                        <span class="task-name">{{gig.title}}</span>
                                        <input class="edit form-control" type="text" ng-model="gig.title" />
                                    </div>
                                </div>
                                <!-- / template  -->
                            </li>
                        </ul>

                        <!-- task list -->
                    </section>
                </div>
            </div>
        </section>
</section>
</section>
<!-- /.vbox -->
