<section id="content">
    <section class="vbox">
        <header class="header bg-white b-b">
            <p>Welcome to Simufit</p>
        </header>
        <section class="bg-light lter wrapper">
            <section class="hbox stretch">
                <div class="row">
                    <div class="col-md-7">
                        <div class="padder">
                            <section class="panel">
                                <header class="panel-heading bg-light header no-borders">
                                    <p>
                                        <i class="icon-calendar"></i>
                                        My Calendar
                                    </p>
                                </header>
                                <div class="panel-body">
                                    <div class="calendar" id="calendar"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="padder">
                            <entry entry="entry"></entry>
                            <a ng-click="saveEntry()">SAVE</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
