<section class="vbox">
    <header class="dker nav-bar nav-bar-fixed-top">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
            <i class="icon-reorder"></i>
        </a>
        <a href="#" class="nav-brand" data-toggle="fullscreen">Simufit</a>
        <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user">
            <i class="icon-comment-alt"></i>
        </a>
    </header>
    <section>
        <div ng-show="isLoggedIn">
        <!-- user -->
        <div class="bg-success nav-user hidden-xs pos-rlt" ng-show="{{isLoggedIn}}">
            <div class="nav-avatar pos-rlt">
                <a href="#" class="thumb-sm avatar animated rollIn" data-toggle="dropdown">
                    <img ng-src="{{avatarUrl}}" alt="" class="">
                </a>
            </div>
            <div class="nav-msg">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <b class="badge badge-white count-n">{{firstName}}</b>
                </a>
            </div>
        </div>
        <!-- / user -->
        </div>
        <!-- nav -->
        <nav class="nav-primary hidden-xs">
            <ul class="nav" ng-repeat="menuItem in menuItems">
                <li>
                    <a href="{{menuItem.href}}">
                        <i class="{{menuItem.iconClass}}"></i>
                        <span>{{menuItem.title}}</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- / nav -->
    </section>
    <footer class="footer bg-gradient hidden-xs">
        <a ng-hide="!isLoggedIn" class="btn btn-sm btn-link m-r-n-xs pull-right" ng-click="logout()">
            <i class="icon-off"></i>
        </a>
        <a href="#nav" data-toggle="class:nav-vertical" class="btn btn-sm btn-link m-l-n-sm">
            <i class="icon-reorder"></i>
        </a>
    </footer>
</section>
