<h3>{{title}}</h3>
<br>
<div class="row-fluid">
    <div class="span7">
        <h4>Calendar</h4>

        <div calendar></div>
    </div>
    <div class="span5">
        <h3>Stuff</h3>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <input uniform-checkbox type="checkbox" ng-model="done">
                </td>
                <td>Awesome {{done}}</td>
                <td>
                    <i class="icon-caret-right"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
