<table class="table">
    <tbody>
        <tr>
            <td>Weight</td>
            <td>
                <input type="text" ng-model="weight">
            </td>
        </tr>
        <tr>
            <td>Neck</td>
            <td>
                <input type="text" ng-model="neck">
            </td>
        </tr>
        <tr>
            <td>Arms</td>
            <td>
                <input type="text" ng-model="arms">
            </td>
        </tr>
        <tr>
            <td>Chest</td>
            <td>
                <input type="text" ng-model="chest">
            </td>
        </tr>
        <tr>
            <td>Torso</td>
            <td>
                <input type="text" ng-model="torso">
            </td>
        </tr>
        <tr>
            <td>Waist</td>
            <td>
                <input type="text" ng-model="waist">
            </td>
        </tr>
        <tr>
            <td>Thigh</td>
            <td>
                <input type="text" ng-model="thigh">
            </td>
        </tr>
        <tr>
            <td>Calves</td>
            <td>
                <input type="text" ng-model="calf">
            </td>
        </tr>
        <tr>
            <td>Height</td>
            <td>
                <input type="text" ng-model="height">
            </td>
        </tr>
    </tbody>
</table>