<!-- Sidebar Menu -->
<div id="menu" class="hidden-phone hidden-print">

    <!-- Brand -->
    <a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-flat&amp;sidebar-sticky=false&amp;top_style=quick&amp;sidebar_style=full" class="appbrand">Quick Admin</a>

    <!-- Scrollable menu wrapper with Maximum height -->
    <div class="slim-scroll" data-scroll-height="800px">

        <!-- Sidebar Profile -->
			<span class="profile center">
				<a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-flat&amp;sidebar-sticky=false&amp;top_style=quick&amp;sidebar_style=full"><img data-src="holder.js/36x36/white" alt="Avatar" /></a>
			</span>
        <!-- // Sidebar Profile END -->

        <!-- Regular Size Menu -->
        <ul>


            <!-- Blank page template menu example -->
            <!-- Menu Regular Item (add class active to LI for an active menu item) -->
            <li class="active"><a class="glyphicons right_arrow" href=""><i></i>Menu item</a></li>
            <li><a class="glyphicons right_arrow" href=""><i></i>Menu item</a></li>
            <li><a class="glyphicons right_arrow" href=""><i></i>Menu item</a></li>
            <li><a class="glyphicons right_arrow" href=""><i></i>Menu item</a></li>
            <li><a class="glyphicons right_arrow" href=""><i></i>Menu item</a></li>
            <!-- // Blank page template menu example END -->

            <!-- Not blank page -->
            <!-- // Not blank page END -->

        </ul>
        <div class="clearfix"></div>
        <!-- // Regular Size Menu END -->

        <div class="alert alert-primary">
            <a class="close" data-dismiss="alert">&times;</a>
            <p>Integer quis tempor mi. Donec venenatis dui in neque fringilla at iaculis libero ullamcorper. In velit sem, sodales id hendrerit ac, fringilla et est.</p>
        </div>

    </div>
    <!-- // Scrollable Menu wrapper with Maximum Height END -->

</div>
<!-- // Sidebar Menu END -->