<a class="btn pull-right btn-success" ng-click="newToDo()">
    <i class="icon-plus"></i>
</a>
<table class="table table-hover">
    <tbody>
    <tr ng-repeat="toDo in toDos">
        <td>
            <input uniform-checkbox type="checkbox" ng-model="toDo.isDone">
        </td>
        <td>
            <!-- <input type="text" ng-model="toDo.title" class="span12" />    -->
            <click-to-edit ng-model="toDo.title"></click-to-edit>
        </td>
        <td>
            <a>
                <i class="icon-caret-right"></i>
            </a> &nbsp &nbsp
            <a ng-click="deleteToDo($index)">
                <i class="icon-remove"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>